<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuby.firstproject">

    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" />

    <application
        android:name=".MyApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HardwareActivity" />
        <activity android:name=".ViewFlipperActivity" />
        <activity android:name=".TouchActivity" />
        <activity android:name=".RxjavaActivity" />
        <activity android:name=".WheelViewActivity" />
        <activity android:name=".MPChartActivity" />
        <activity android:name=".KeepLiveServiceActivity" />

        <service
            android:name=".services.MessageService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.GuardService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".services.JobWakeUpService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>